<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <style>{{glamorousStyles}}</style>
    <script id="app-info" type="application/json">{{{applicationInfo}}}</script>
</head>
<body>
    <div id="page-contents">{{{reactContent}}}</div>
    <script type="application/javascript" src="{{staticScriptPath}}"></script>
</body>
</html>